<link href="/css/edit_project.css" rel="stylesheet">
<div id="work" class="page">
	<div class="container">
    <div class="pages">
    <h1> Modifica Contenuto </h1>
    <%= form_for(@content) do |f| %>
      <% if @content.present_image %>  <!-- content for image  -->
          <div class="one_photo">
            <% @images.each do |image| %>
              <img alt=<%=image.upload_photo_file_name%> src=<%= image.upload_photo.url(:medium)%> />
              <%= f.file_field :attachment %>
            <%end%>
						<%= f.submit "Modifica Contenuto" %>
          </div>
      <% else %>
        <h3 class="content_text">
          <%= f.text_area(:text, rows: 30) %>
					<%= f.submit "Modifica Contenuto" %>                      <!-- content for text  -->
        </h3>
      <% end %>

    <%end%>
    </div>
    <div class="divisor_page">
    </div>
  </div>
</div>
