<div id="work" class="page">
	<div class="container">

    <h1>Modifica Pagina</h1>


    <%= form_for(@page) do |f| %>
      <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
          <% @page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <info>Titolo pagina</info><br><br>
        <%= f.text_field :title %>
      </div>
      <%= f.hidden_field :project_id, :value => params[:project_id]%>
      <hr class="hr_log">

      <div class="actions">
        <%= f.submit "Applica Modifiche alla pagina" %>
      </div>
    <% end %>



      <!-- End Portfolio Projects -->
  </div>
</div>
<!-- End Our Projects-->
