<link href="/css/edit_project.css" rel="stylesheet">

<div id="work" class="page">
	<div class="container">

    <h1>Modifica Pagina</h1>


    <%= form_for(@page) do |f| %>
      <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
          <% @page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field title_field">
        <info>Titolo pagina</info><br><br>
        <%= f.text_field :title %>

      <%= f.hidden_field :project_id, :value => params[:project_id]%>


      <%= f.submit "Modifica il titolo" %>
			</div>

			<hr class="hr_log">

			<h1>Modifica Contenuto </h1>

    <% end %>
		<div class="pages">
			<% @contents.each do |content| %>
				<% if content.present_image %>  <!-- content for image  -->
					<div class="one_photo">
						<% @images.each do |image| %>
							<% if image.content_id == content.id %>
								<img alt=<%=image.upload_photo_file_name%> src=<%= image.upload_photo.url(:medium)%> />
							<% end %>
						<%end%>
					</div>
				<% else %>
					<h3 class="content_text">                          <!-- content for text  -->
						<%=content.text %>
					</h3>
				<% end %>
				<%= button_to "Modifica contenuto", "/contents/#{content.id}/edit" , method: :get %>
			<% end %>
		</div>
  </div>
</div>
