<div id="work" class="page">
	<div class="container">
    <br>
    <div class="index_project_left">
      <h1><span style="color:rgb(222, 94, 96)">Progetto:  </span><%=@project.title%></h1>
    </div>
		<div class="index_project_right">
			<h1 class="index_h1"><span style="font-size: medium">creato il:<%=@project.created_at.strftime("%B %d, %Y")%></span></h1>
			<h1 class="index_h1"><span style="font-size: medium">ultima modifica:<%=@project.updated_at.strftime("%B %d, %Y")%></span></h1>
		</div>

    <% @pages.each do |page| %>
		<hr class="hr_log_v2">
		<div class="index_project_left">
      <h4 class="index_project_left"><%=page.title%></h4>
		</div>
		<div class="index_project_right_page">
			<h1 class="index_h2"><span style="font-size: medium">creato il:<%=@project.created_at.strftime("%B %d, %Y")%></span></h1>
			<h1 class="index_h2"><span style="font-size: medium">ultima modifica:<%=@project.updated_at.strftime("%B %d, %Y")%></span></h1>
		</div>

    <% end %>
      <!-- End Portfolio Projects -->
  </div>
</div>
<!-- End Our Projects-->
