
<%= form_for @project , :url =>projects_path, :html => { :multipart => true } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <info>Titolo</info><br><br>
    <%= f.text_field :title %>
  </div>
  <hr class="hr_log">

  <div class="actions">
   <info>Categoria</info><br><br>
   <info class="info_3d">3d</info><info class="info_design">Design</info><info class="info_audio">Audio</info><info class="info_elettronica">Elettronica</info><br>
   <input type="radio" value="3d" name="project[category]" id="project_category_3d">
   <input type="radio" value="design" name="project[category]" id="project_category_design">
   <input type="radio" value="audio" name="project[category]" id="project_category_audio">
   <input type="radio" value="elettronica" name="project[category]" id="project_category_elettronica">
 </div>
   <hr class="hr_log">


    <div class="actions">
      <%= f.submit "Crea progetto" %>
    </div>
<% end %>
