<link href="/css/show_project.css" rel="stylesheet">

  <div class="label_category">
    <p class="into_label">3d printer<p>
  </div>
  <% if user_signed_in? %>
    <div class="btn_edit_project">
      <%= link_to 'Modifca Progetto', "/projects/#{@project.id}/pages" %>
    </div>
  <%end %>
<% @pages.each do |page| %>
  <div class="pages">
    <h3 class="content_text date">
      <%= page[:created_at].strftime("%d-%m-%Y") %>
    </h3>
    <h1>
      <%=page[:title_page] %>
    </h1>
    <div class="divisor_title">
    </div>
    <% page[:contents].each do |content| %>
    <% if content.present_image %>  <!-- content for image  -->
      <div class="one_photo">
        <% @images.each do |image| %>
          <% if image.content_id == content.id %>
            <img alt=<%=image.upload_photo_file_name%> src=<%= image.upload_photo.url(:medium)%> />
          <% end %>
        <%end%>
      </div>
    <% else %>
      <h3 class="content_text">                          <!-- content for text  -->
        <%=Markdown.new(content.text).to_html.html_safe %>
      </h3>
    <% end %>
  <% end %>
  </div>
  <div class="divisor_page">
  </div>
<% end %>
